/* This file is for your main application css. */

@import 'custom';
@import 'bulma';
@import './video';

.columns {
  display: flex;
  flex-direction: row; // this is default
  align-items: stretch; // this will stretch the children vertically
}
